<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233350295733-pccre2ulv1imekvrbi5q6isqisq3aqmt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233350295733-pccre2ulv1imekvrbi5q6isqisq3aqmt</string>
	<key>API_KEY</key>
	<string>AIzaSyDHz--WDw5eOhymdeISkyoOUQjGlWIsys4</string>
	<key>GCM_SENDER_ID</key>
	<string>233350295733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kantanmanga</string>
	<key>PROJECT_ID</key>
	<string>man-gareader</string>
	<key>STORAGE_BUCKET</key>
	<string>man-gareader.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233350295733:ios:8883d6038ea106b3c4cefc</string>
	<key>DATABASE_URL</key>
	<string>https://man-gareader.firebaseio.com</string>
</dict>
</plist>